# DataKind Red Cross Project ACS Quickstart

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
# Data Import and Cleaning

In [7]:
p = Path.cwd()
data_path = p.parent / 'data' / 'Master Project Data' 
acs_path =  data_path / 'ACS 5YR Tract Data.csv'


ACS = pd.read_csv(acs_path,
                    encoding='latin-1')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (581,582,585,586,587,588,591,592,601,602,605,606,609,610,613,614,617,618,621,622,625,626,629,630,633,634,641,642,645,646,649,650,653,654,657,658,661,662,665,666,669,670,673,674,677,678,685,686,689,690,693,694,697,698,701,702,705,706,709,710,713,714,717,718,719,720,729,730,733,734,737,738,741,742,745,746,749,750,757,758,761,762,763,764,767,768,777,778,781,782,785,786,789,790,793,794,797,798,805,806,809,810,813,814,817,818,825,826,829,830,833,834,837,838,841,842,845,846,849,850,853,854,857,858,865,866,869,870,871,872,873,874,881,882,885,886,889,890,897,898,901,902,905,906,909,910,913,914,917,918,921,922,925,926,927,928,937,938,941,942,949,950,953,954,957,958,961,962,965,966,969,970,973,974,985,986,989,990,993,994,997,998,1001,1002,1005,1006,1017,1018,1021,1022,1025,1026,1029,1030,1033,1034,1045,1046,1049,1050,1053,1054,1057,1058,1061,1062,1065,1066,1069,1070,1081,1082,1085,1086,1089,1090,1093,1094,1097,1098,1101,1102,1105,1106,1121,1122,1125,1126,1129,1130,1133,1134,1137,1138,1141,1142) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# Fix the tot_loss column which had incorrect data for 2015. Since tot_loss = prop_loss + cont_loss, it was easy enough to recalculate those values
ACS.head(2)

,NAME,GEO_ID,DP04_0001E,DP04_0001M,DP04_0001PE,DP04_0001PM,DP04_0002E,DP04_0002M,DP04_0002PE,DP04_0002PM,...,DP04_0142MA,DP04_0142PEA,DP04_0142PMA,DP04_0143EA,DP04_0143MA,DP04_0143PMA,DP04_0143PEA,state,county,tract
0,"Census Tract 140.02, Spokane County, Washington",1400000US53063014002,2392,185,2392,-888888888,2246,173,93.9,4.6,...,NaN,NaN,NaN,NaN,NaN,(X),(X),53,63,14002
1,"Census Tract 4, Spokane County, Washington",1400000US53063000400,1871,55,1871,-888888888,1697,117,90.7,5.5,...,NaN,NaN,NaN,NaN,NaN,(X),(X),53,63,400